/*

    replace initial styles

*/
html, body {
    min-height: 100%;
}
body {
    margin: 0;
    background-color: #dddddd;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*

    replace initial styles
    end
*/

/*

    var

*/
:root {
    --header-nav-util-height: 40px;
    --header-nav-main-height: 65px;
    --footer-top-height: 230px;
    --footer-bottom-height: 50px;
    --footer-top-padding: 40px;
    --main-min-height: calc(100vh - var(--footer-top-height) - 2*var(--footer-top-padding) - var(--footer-bottom-height))
}
@font-face {
    font-family: "Calibre-Medium";
    src: url("fonts/Calibre-Medium.woff2") format("woff2"),
    url("/fonts/Calibre-BoldItalic.woff") format("woff");
}
@font-face {
    font-family: "Calibre-Regular";
    src: url("fonts/Calibre-Regular.woff2") format("woff2"),
    url("/fonts/Calibre-Regular.woff") format("woff");
}
@font-face {
    font-family: "Calibre-Semibold";
    src: url("fonts/Calibre-Semibold.woff2") format("woff2"),
    url("/fonts/Calibre-Semibold.woff") format("woff");
}
/*

    var
    end
*/

/*

    header

*/
header {
    position: sticky;
    top: 0;
}
.navigation-utility {
    background-color: black;
    height: var(--header-nav-util-height);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    transition: top 0.5s ease;
    position: absolute;
}
.navigation-utility > * {
    width: 33%;
}
.navigation-utility__headline {
    font-family: 'Calibre-Medium', serif;
    line-height: 24px;
    font-size: 1.01em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
}
.links-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Calibre-Regular, serif;
    line-height: 16px;
    margin-right: 13px;
}
.links-right > * {
    width: max-content;
}
.links-right__find-dialer__icon {
    height: 14px;
    margin-right: 3px;
}
.links-right__phone-number {
    margin-top: 10px;
    height: 16px;
    width: 85px;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: right;
    margin-right: 32px;
}
.links-right__find-dialer {
    margin-top: 5px;
    margin-right: 30px;

}
.account-dropdown {
    margin-right: 20px;
}
.links-right__dropdown {
    margin-top: 4px;
}
.navigation-main {
    height: var(--header-nav-main-height);
    display: flex;
    background-color: white;
    top: 40px;
    transition: top 0.5s ease;
    position: absolute;
    width: 100%;
}
.navigation-main__bar {
    width: 96%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.bar__main-logo__logo {
    height: 20px;
    margin-top: 5px;
    margin-left: 32px;
}
.bar__links-main {
    font-family: Calibre-Semibold, serif;
    font-size: 1.1em;
    width: 430px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.links-main__item {
    display: inline-block;
    height: 100%;
}
.links-main__item__content {
    display: none;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: white;
    transition: all .8s ease;
}
.content-support {
    text-align: center;
}
.content__item {
    display: inline-block;
    width: 100%;
    margin: 10px;
}
.content__item > :first-child {
    width: 100%;
    height: 80%;
}
.item-shop:hover .content-shop, .content-shop:hover, .item-support:hover .content-support, .content-support:hover, .item-our-story:hover .content-our-story, .content-our-story:hover {
    display: flex;
    justify-content: space-between;
    top: 65px;
    transition: all .8s ease;
}
/*.item-support:hover .content-support, .content-support:hover {*/
/*    opacity: 1;*/
/*    top: 65px;*/
/*    transition: all .8s ease;*/
/*}*/
/*.item-our-story:hover .content-our-story, .content-our-story:hover {*/
/*    opacity: 1;*/
/*    top: 65px;*/
/*    transition: all .8s ease;*/
/*}*/
.bar__links-main:hover .links-main__item {
    opacity: .5;
    transition: opacity .5s ease;
}
.item-shop:hover, .item-our-story:hover, .item-support:hover, .item-journal:hover {
    opacity: 1 !important;
    transition: opacity .8s ease;
}
.bar__search {
    margin-right: 32px;
}
.bar__search > * {
    display: inline-block;
}
.search__icon {
    width: 16px;
}
.search__input {
    display: none;
}
.navigation-main__cart {
    width: 77px;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(16% 0%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(16% 0%, 100% 0, 100% 100%, 0 100%);
}
.cart-icon {
    width: 21px;
    margin: 11px 0 0 5px;
}
/*

    header
    end
*/

/*

    main

*/
main {
    min-height: var(--main-min-height);
    background: #ddd;
}
/*

    main
    end
*/

/*

    footer

*/
footer {
    background-color: black;
    color: white;
}
.footer-top {
    height: var(--footer-top-height);
    padding: var(--footer-top-padding) 190px var(--footer-top-padding) 30px;
    display: flex;
}
.footer-top__main-logo {
    display: inline-block;
    width: 148px;
    margin-top: 8px;
}
.footer-top__main-logo * {
    width: inherit;
}
.footer-links {
    display: inline-flex;
    margin-left: 150px;
    justify-content: space-between;
    margin-top: 15px;
}
.social-links {
    margin: 6px 0 0 4px;
    display: inline-flex;
    width: 120px;
    justify-content: space-between;
}
.social-links__link {
    display: inline-block;
    height: 24px;
}
.social-links__link > * {
    transition: filter .4s ease;
}
.social-links__link:hover > * {
    filter: brightness(3) contrast(3);
    transition: filter .6s ease;
}
.footer-links__col {
    height: 28px;
    width: 150px;
    margin-right: 50px;
}
.footer-links__col__header {
    line-height: 20px;
    font-size: 16px;
    font-family: Calibre-Semibold, serif;
    margin-bottom: 8px;
}
.footer-links__col__item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    font-family: Calibre-Regular, serif;
    color: #8D8D8D;
    transition: color .4s ease;
}
.footer-links__col__item:hover {
    color: white;
    transition: color .6s ease;
}
.footer-bottom {
    height: var(--footer-bottom-height);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    color: #C2C2C2;
    line-height: 16px;
    font-size: 14px;
    font-family: Calibre-Regular, serif;
    margin-top: 3px;
}