/*

    main

*/
main {
    min-height: var(--main-min-height);
    background: white;
    z-index: -1;
    padding: var(--main-top-padding) 15% var(--main-bottom-padding) 15%;
}
/*

    main
    end
*/