@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

    /*

        mobile header

    */

    .navigation-utility__empty,
    .navigation-utility__links-right,
    .links-main__item__content,
    .hide-mobile,
    .bar__links-main,
    .bar__search,
    .footer-lang-select {
        display: none;
    }
    .navigation-utility__headline {
        width: 100%;
        height: 16px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        padding-left: 0;
        padding-top: 7px;
    }
    .navigation-main__bar {
        justify-content: flex-start;
    }
    .mobile-menu-icon {
        display: block;
    }
    .bar__main-logo {
        left: calc(50vw - 74px);
    }
    .bar__main-logo * {
        margin: 0;
    }
    /*

        mobile menu

    */
    #menuToggle {
        flex-direction: column;
        position: relative;
        left: 18px;
        top: 4px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle > input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    #menuToggle > span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #000000;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0 0;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }
    #menuToggle > input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }
    #menuToggle > input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle > input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu, .links-main__item__content {
        display: flex;
        position: absolute;
        box-shadow: 0 10px 10px #85888c;
        margin-left: -24px;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;
        transform: translate(-101%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .links-main__item__content * {
        display: none;
    }
    .links-main__item > input:checked ~ .links-main__item__content * {
        display: initial;
    }
    #menu li {
        transition-delay: 2s;
    }
    #menuToggle > input:checked ~ ul,
    .links-main__item > input:checked ~ .links-main__item__content {
        transform: none;
        overflow-y: scroll;
    }
    .bar__links-main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: white;
    }
    .links-main__item, .content-support > .content__item {
        height: auto;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-bottom: #666666 1px solid;
    }
    .content-support > .content__item {
        margin: 0;
        width: 100%;
        align-items: flex-start;
    }
    .arrow-menu-mobile {
        display: block;
        height: 7px;
    }
    .links-main__item > input {
        display: flex;
        width: calc(100vw - 32px);
        height: 5%;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    .links-main__item__content {
        margin: 0;
        opacity: 1;
        padding: 0;
        z-index: 3;
        justify-content: flex-start;
        flex-direction: column;
        top: calc(1.1em + 32px);
    }
    .bar__links-main:hover .links-main__item,
    .links-main__item__content:hover .content__item {
        opacity: 1;
    }
    .item-shop:hover .content-shop, .content-shop:hover, .item-support:hover .content-support, .content-support:hover, .item-our-story:hover .content-our-story, .content-our-story:hover {
        top: calc(1.1em + 32px);
    }
    .mobile-links-main__item {
        display: flex;
    }
    .mobile-links-main__item > * {
        width: 100%;
    }
    .mobile-links-main__item > a {
        display: flex;
    }
    .mobile-links-main__item > a > * {
        width: auto;
    }
    .content__item__link {
        display: block;
    }
    /*

        mobile menu
        end
    */
    /*

        mobile header
        end
    */
    /*

        mobile footer

    */

    .footer-top {
        display: flex;
        flex-direction: column;
    }
    .footer-links {
        display: inline-flex;
        margin-left: 0;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .footer-links__col {
        height: auto;
        margin-right: 0;
    }

    /*

        mobile footer
        end
    */
}