@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

    /*

        mobile header

    */

    .navigation-utility {
        height: var(--mobile-header-nav-util-height);
    }
    .navigation-main {
        height: var(--mobile-header-nav-main-height);
        top: var(--mobile-header-nav-util-height);
    }
    #menu, .links-main__item__content {
        width: 100vw;
    }
    .links-main__item__content {
        min-height: calc(
                100vh
                - var(--mobile-main-top-padding)
                - 1.1em
                - 25px);
    }
    .bar__links-main {
        min-height: calc(
                100vh
                - var(--mobile-header-nav-main-height)
        );
    }
    .links-main__item, .content-support > .content__item {
        width: calc(100vw - 32px);
    }
    .content__item {
        width: calc(100vw - 20px);
    }
    /*

        mobile header
        end
    */
    /*

        mobile main

    */
    main {
        min-height: var(--mobile-main-min-height);
        padding:
                var(--mobile-main-top-padding)
                0
                var(--mobile-main-bottom-padding)
                0;
    }
    .slider__item__img {
        object-fit: none;
        height: 280px;
    }
    .after-content {
        width: 100%;
        position: initial;
        padding: 24px 15px;
    }
    .after-content__text {
        height: auto;
        color: black;
        line-height: 32px;
        font-size: 40px;
        width: 50%;
        margin-bottom: 24px;
    }
    /*

        mobile main
        end
    */

    /*

        mobile footer

    */
    .footer-top {
        height: var(--mobile-footer-top-height);
        padding: var(--mobile-footer-top-padding) 20px var(--mobile-footer-top-padding) 15px;
    }
    .footer-top__main-logo {
        margin: 0;
    }
    .footer-links__col {
        width: 46%;
        margin-top: 35px;
    }
    .footer-bottom {
        padding: 0 15px;
    }

    /*

        mobile footer
        end
    */
}