/*

    replace initial styles

*/
html, body {
    min-height: 100%;
    background-color: black;
}
body {
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*

    replace initial styles
    end
*/