@media only screen and (min-device-width : 426px) and (max-device-width : 1024px) {

    /*

        tablet header

    */
    .navigation-utility {
        height: var(--tablet-header-nav-util-height);
    }
    .navigation-main {
        height: var(--tablet-header-nav-main-height);
        top: var(--tablet-header-nav-util-height);
    }
    #menuToggle > input:checked + .backdrop {
        display: block;
        position: fixed;
        right: 0;
        top: var(--tablet-main-top-padding);
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
        transition: var(--default-transition-for-animation);
    }
    #menu, .links-main__item__content {
        width: 50vw;
    }
    .links-main__item__content {
        min-height: calc(
                100vh
                - var(--tablet-main-top-padding)
                - 1.1em
                - 25px);
    }
    .bar__links-main {
        min-height: calc(
                100vh
                - var(--tablet-header-nav-main-height)
        );
    }
    .links-main__item, .content-support > .content__item {
        width: calc(50vw - 32px);
    }
    .content__item {
        width: calc(50vw - 20px);
    }
    /*

        tablet header
        end
    */
    /*

        tablet main

    */
    main {
        padding:
            var(--tablet-main-top-padding)
            0
            var(--tablet-main-bottom-padding)
            0;
    }
    .after-content {
        top: 100px;
    }
    /*

        tablet main
        end
    */
    /*

        tablet footer

    */
    .footer-top {
        height: var(--tablet-footer-top-height);
        padding: var(--tablet-footer-top-padding) 20px 0 15px;
    }
    .footer-links {
        margin-top: 50px;
        padding: 0 10px;
    }
    .footer-links__col {
        width: 25%;
    }
    .footer-top__main-logo {
        margin-left: 10px;
    }

    /*

        tablet footer
        end
    */
}